  
.Profile {
    color: white;
    display: flex;
    justify-content: center;
}
  
.SideBar {
    height: 100vh; 
    background-color: #E87500;
}

.SideBarList {
    height: auto;
    padding: 0;
    width: 100%;
}

.SideBarList .SideBarRow{
    width: 100%;
    height: 50px; 
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex: row;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.SideBarList .SideBarRow:hover {
    cursor: pointer;
    background-color: #1B5E20;
}

.SideBarList #active {
    background-color: #1B5E20;
    font-weight: bold;
    text-decoration: underline;
}

.SideBarRow #icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.SideBarRow #title {
    flex: 70%;
}

.icon-small {
  width: 25px; 
  height: 25px; 
}