/* Course.css */

.course-container {
    max-width: 600px;
    margin: auto;
    overflow-y: auto;
    color: #333;

  }
  
.course-list {
    list-style: none;
    padding: 0;
  }
  
.course-list li {
    margin-bottom: 10px;
  }
  
.input-container {
    margin-bottom: 10px;
  }
  
.GreenButton {
    background-color: rgb(0, 149, 0);
    color: #fff;
    border: none;
    padding: 2px 12px;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
  }
  
.GreenButton:hover {
    background-color: darkgreen;
    font-weight: bold;
  }

  
  