.ImageContainer {
    padding-top: 70px;
    padding-left: 50px;
  }

.InputBox {
  width: 50%;
  font-weight: bold;
}

.Image {
  font-size: 30px;
  font-weight: bold;
  padding-left: 10%;
}

.ButtonContainer {
  width: 100%; 
  display: flex;
  justify-content: center; 
  margin-top: 20px; 
  margin-bottom: 20px;
}

@media (max-width: 1000px){
  .ImageContainer {
    padding-left: 100px; 
  }
}