.loginForm {
  /* padding-left: auto; */
  position: relative;
  -webkit-text-size-adjust: auto; /* Font size scale with zoom */
  margin-top: 12.5%;
  margin-bottom: 12.5%;
}

.separator {
  min-height: 10vh;
}

.loginForm form {
  padding: 0 35%;
}

.loginForm label {
  text-align: left;
  display: block;
  font-size: 26px;
}

/* .loginForm input,
.loginForm textarea,
.loginForm select {
  display: block;
  padding: 12px 12px;
  max-width: 100%;
  border: 1px solid #ddd;
  box-sizing: border-box;
  float: none;
  position: relative;
} */

input,
input .text {
  text-indent: 10px;
  width: 100%;
  padding: 12px 12px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #e5e5e5e8;
  color: black;
  font-size: 14px;
  display: block;
  box-sizing: border-box;
}

.loginForm button {
  /* box-shadow: inset 0px 1px 3px 0px #000000; */
  background-color: #e8741c;
  border-radius: 5px;
  border: 1px solid #e8741c;
  /* display: inline-block; */
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 13px 23px;
  text-decoration: none;
  /* text-shadow: 0px -1px 0px #2b665e; */
  width: 100px;
}
.loginForm button:hover {
  background-color: #e68f4d;
}
.loginForm button:active {
  /* position: relative; */
  /* top: 1px; */
  background-color: #e9b68f;
}

#centered {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}
