.loginForm {
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 25%;
    padding-bottom: 25%;
  }

  /*Text by each white box*/
  .loginForm label {
    text-align: left;
    display: block;
    font-size: 20px;
  }

  .loginform input {
    width: 100%;
    padding: 9px 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
  }
