/* ProfileCard.css */

/* Common styles for user profile cards */
.user-profile-card {
    background-color: darkgreen;
    border: 2px solid darkorange;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(215, 83, 17, 0.2);
    color: white;
    font-family: Arial, sans-serif;
    text-align: left;
    position: absolute;
    top: 20%;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth hover effect */

  }
  
  /* Header styles */
  .user-profile-card h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  /* User information styles */
  .user-info {
    display: flex;
    flex-direction: column;
  }
  
  .user-info div {
    margin-bottom: 10px;
  }
  
  .user-info strong {
    color: white;
  }
  
  .user-info span {
    font-weight: bold;
    margin-left: 10px;
  }
  
  /* Hover effect */
  .user-profile-card:hover {
    background-color: #217736;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
  }
  

