* {
    margin: 0;
    padding: 0;
}

#headerButton {
    position: absolute;
    right: 5%;
}

#exhibition {
    padding-left: 1%;
}

.currentImg {
    position: absolute;
    top: 10%;
    padding-left: 5%;
    color: #e87500;
}

.parent_container {
    display: inline;
    padding-top: 8%;
    padding-right: 5%;
}

.child_container{
    position: absolute;
    top: 0;
    padding-top: 10%;
    padding-left: 75%;
}

.child_container_1 {
    padding-left: 5%;
    padding-top: 10%;
    width: 80%;
}

.pictureTest {
    width: 70%;
    height: 70%;
    margin-right: 15%;
    padding-right: 15%;
}

.bottomText {
    margin-left: 3%;
    margin-right: 3%;
}

.addImg {
    position: absolute;
    padding-left: 75%;
    top: 70%;
}

.bottomButtons {
    padding-top: 1%;
    padding-left: 35%;
}

.space {
    width: 15%;
    height: auto;
    display: inline-block;
  }