<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Comer Collection</title>

        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>
        
        <div class="background_menu">
            <div id="menu">
                <div id="image_container">
                    <img src="./images/artworks1/1.jpg" alt="Menu Picture">
                </div>

                <div id="content">
                    <!--REPLACE WITH STUDENT GALLERY NAME-->
                    <h1>Art Gallery</h1>
                    <div>
                        <P>Curated by STUDENT NAME</P>
                        <p>Interactive 3D Gallery of the GALLERY NAME</p>
                        
                    </div>

                    <div>
                        <p>Instructions</p>
                        <p>Use Arrow Keys or WASD to Move</p>
                        <p>Look with mouse</p>
                    </div>

                    <div id="play_button">
                        <p>Enter Gallery</p>
                    </div>
                    <div id="copyright_info">
                        <p>Made with Three.js and Vite</p>
                    </div>
                </div>
            </div>
        </div>

        

        <div id="painting-info"></div>

        <script type ="module" src="./js/Main.js"></script>
    </body>

</html>